.nextBtn {
  color: white;
  background-color:#f67599;;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 7px;
  border: transparent;
  cursor: pointer;
  width: 130px;
}