.container {
  /*outline: yellow solid 2px; */
  box-sizing: border-box;
  width: 100%;
  
  

  display: flex;
    justify-content: center;
    align-items: center;
}



.title {
  /* outline: red solid 1px; */
  margin: 0;
 margin-bottom: 1rem;
  height: 10%;
}

.progress {
  /* outline: blue solid 2px; */
  margin-bottom: 2rem;
  height: 10%;
}

.step {
  /* outline: green solid 3px; */
  height: 70%;
  margin-right: 3rem;
}

.progress_control {
   /*outline: pink solid 2px; */
  width: 95%;
  height: 10%;
  margin-top:20px;
}

