.productContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /*border:solid 1px black;*/
  margin-bottom: 30px;

}

.imgContainer {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-left: 18px;

}

.productInfo {
  display: flex;
   
    flex-grow: 1;
    align-items: flex-start;
    justify-content: space-between;
    /*border: solid green;*/
}
.productControl {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 200px;
  /*border: pink solid;*/


}


.productName {
  font-size:16px;
    font-weight: 400;
    line-height: 24px;
    margin-right: auto;
    /*border:solid;*/
  height: 50px;
  width:80px;
  margin-left: 15px;
 
}

.minus,
.plus {
  width: 28px;
  height: 28px;
  padding: 5px 0 0 9px;

  cursor: pointer;
}



.productCount {
  margin: 0 25px;
  font-size: 17px;

}
.price {
  font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    

}
.cartInfo{
  /*border:solid red;*/
  border-top: 1.5px solid #F0F0F5;
  display: flex;
    padding-top: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
    align-items: center;
    justify-content: space-between;
}