.cart{
  border: 1px solid lightgray;
  border-radius: 3%;
  width:100%; 
  margin-left: 20px;
  margin-top: 50px;
  padding:10px;
}
.productContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /*border:solid 1px black;*/
  margin-bottom: 30px;

}

.imgContainer {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-left: 18px;
  
}

.productInfo {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  /*border:solid */
 
}



.productControl {
  display: flex;
  align-items: center;
  justify-content: start;
  width:300px;
  

}


.productName {
  font-size: 17px;
}

.minus, .plus{
  width: 28px;
  height: 28px;
  padding: 5px 0 0 9px;
    
    cursor: pointer;
}



.productCount {
  margin: 0 25px;
  font-size: 17px;
  
}

.price {
  position: absolute;
  right: 50px;
  top: 0;
  font-weight: 700;
}

.cartInfo{
  position: relative;
    width: 95%;
  height:60px;
  border-top:1px solid lightgray;
  padding-top: 5px;
 
  padding-left: 10px;
}

.cardTitle{
  font-size: 20px;
  padding-left: 10px;
}